img {
  width: 50%;
  height: 80%;
  border-radius: 3px;
}

main {
 display: flex;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(64, 64, 64);
  font-size: 27px;
  margin-left: 70px;
}

em {
  color: rgb(173, 173, 173);
}

fieldset {
  /* width: 70%;
  height: 300px; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  padding: 45px;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
  border: none;
  box-shadow: 2px 2px rgb(210, 210, 210);
  margin-bottom: 130px;
  margin-left: 70px;
}

button {
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 6px;
  color: rgb(82, 80, 80);
  border: solid rgb(200, 200, 200);
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  font-size: 14px;
}

button:hover {
  background-color: rgb(230, 228, 228);
  cursor: pointer;
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 30px; /* Adjust space between grid items */
  width: 70%;
}

.form-grid div {
  display: flex;
  flex-direction: column; /* Aligns labels above inputs */
}


@media screen and (max-width: 768px) {
  .main {
    width: 80%; /* Adjust for smaller screens */
  }

  fieldset {
    width: 80%; /* Adjust for smaller screens */
  }
}


header {
  background-color: grey;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header a {
  float: left;
  color: rgb(64, 64, 64);
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}



.header-right {
  float: right;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

a:hover {
  color: rgb(207, 207, 207);
}

footer>p {
  color: rgb(94, 94, 94);
}


input:invalid {
  border: 1px solid #ddbfc0;
  background-color: rgba(255, 170, 171, 0.25);
}

input:focus:invalid {
  background-color: transparent;
  transition: none;
  border: 1px solid #cff4a6;
  color: #D6D9DC;
}

input:focus:valid {
  background-color: transparent;
  transition: none;
  border: 1px solid #203507;
  color: #D6D9DC;
}

input:valid {
  border: 1px solid #cff4a6;
  background-color: rgba(139, 195, 74, 0.25);
}


input:placeholder-shown, input[type="password"] {
  background-color: transparent;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  height: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
}


input::placeholder {
  color: #929191;
}
